.headerContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  position: fixed;
  min-width: 411px;
  z-index: 4;
  background-color: #0d0d0d;
  width: 100vw;
}

.logoContainer h1 {
  padding: 25px;
  font-size: 32px;
  margin: 0;
  color: white;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.burgerIcon {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.burgerIcon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background-color: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.burgerIcon span:nth-child(1) {
  top: 5px;
}

.burgerIcon span:nth-child(2),
.burgerIcon span:nth-child(3) {
  top: 16px;
}

.burgerIcon span:nth-child(4) {
  top: 27px;
}

.burgerIcon.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.burgerIcon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burgerIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burgerIcon.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

@media only screen and (max-width: 480px) {
  .logoContainer h1 {
    font-size: 17px;
    padding: 10px;
    margin-right: 65px;
  }

  .hamburger {
    display: block;
    position: fixed; /* Show hamburger on mobile */
    top: 13px;
    right: 16px;
    z-index: 4;
  }

  .burgerIcon span {
    width: 35px;
    height: 3px;
  }

  /* Add styles for showing/hiding Navigation menu when burger is clicked */
  .navigation {
    display: none;
  }
}
