.offreContainer {
  border-radius: 18px;
  border: 1px solid white;
  max-width: 525px; /* Adjust as necessary */
  flex: 0 0 auto; /* Ensures the item doesn't shrink or grow */
  min-width: 525px;
  display: flex;
  flex-direction: column;
  padding: 35px;
  scroll-snap-align: center;
}

.offreContainer .offreName {
  font-family: "PPNeuMontreal";
  font-weight: 500;
  margin-bottom: 50px;
  font-size: 2em;
}

.offreContainer span {
  margin-bottom: 40px;
}

.offreContainer .offreId {
  margin-bottom: 12px;
  font-family: "PPFormula";
}

.offreContainer .offreTitle {
  font-size: 1.15em;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-family: "PPFormula";
}

.offreContainer .offreTitlePrice {
  margin-top: auto;
}
@media only screen and (max-width: 480px) {
  .offreContainer {
    padding: 17px;
    max-width: 360px;
    min-width: 250px;
    width: 100%;
    font-size: 1.25em;
  }
  .offreContainer .offreId {
    font-size: 0.9em;
  }
  .offreContainer .offreName {
    margin-bottom: 25px;
    font-size: 1.9em;
    text-align: left;
  }

  .offreContainer span {
    text-align: left;
    margin-bottom: 20px;
  }

  .offreContainer span.text {
    font-size: 1.35em;
  }
}
