.offresContainer {
  width: 100vw;
  display: flex;
  gap: 50px;
  max-width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 20px 0px;
  margin-bottom: 60px;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.offres-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Webkit browsers */
}
