.projectContainer {
  display: flex;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 100px;
}
.projectContainer img {
  margin-right: 50px;
  border-radius: 16px;
  border: 1px solid white;
  object-fit: cover;
}
.projectInfos {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-right: 30px;
  font-family: "PPFormula";
}

.projectInfos .projectId {
  margin-bottom: 12px;
}

.projectInfos .clientName {
  margin-bottom: 20px;
  font-size: 2.6em;
  font-family: "PPNeuMontreal";
}
.projectInfos .projectDescription {
  margin-bottom: 40px;
  text-transform: none;
  font-size: 1.035em;
  opacity: 50%;
}
.projectInfos li {
  list-style: none;
}

.projectCTA {
  display: inline-block;
  position: relative;
  font-size: 1em;
  text-decoration: none;
  transition: transform 0.2s ease-out;
}

.projectCTA:hover {
  transform: translateY(
    -100%
  ); /* Move the original text up on hover */
}

.projectCTA::before {
  content: attr(data-new-text);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: transform 0.2s ease-out;
}

.projectCTA:hover::before {
  transform: translateY(
    -0%
  ); /* Bring the new text up on hover */
}

.projectCTAContainer {
  display: flex;
  overflow: hidden; /* Hide content moving outside the bounds */
  position: relative;
  justify-content: flex-end;
  align-items: end;
  height: fit-content;
  align-self: flex-end;
  width: 45%;
}

@media only screen and (max-width: 480px) {
  .projectContainer {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .projectContainer img {
    width: auto;
    margin-right: 0px;
    height: 180px;
  }

  .projectInfos {
    margin-top: 30px;
    margin-right: 0px;
  }

  .projectCTAContainer {
    margin-top: 35px;
  }

  .projectCTA {
    font-size: 1.2em;
  }

  .projectInfos .clientName {
    font-size: 1.9em;
    margin-bottom: 30px;
  }

  .projectInfos .projectDescription {
    font-size: 1.2em;
    margin-bottom: 30px;
  }

  .projectInfos li {
    font-family: "PPNEUMONTREAL";
    font-size: 1.35em;
    font-weight: 300;
  }
}
