.btnContainer {
  text-transform: uppercase;
  font-size: 0.938em;
  font-family: "PPFormula";
  display: flex;
  cursor: pointer;
}

.btnText {
  text-transform: uppercase;
  font-size: 0.938em;
  font-family: "PPFormula";
}

.next {
  justify-content: end;
  display: flex;
}

.back {
  justify-content: start;
  display: flex;
}
