.btnContainer {
  text-transform: uppercase;
  font-size: 0.938em;
  font-family: "PPFormula";
}

.btnText {
  text-transform: uppercase;
  font-size: 0.938em;
  font-family: "PPFormula";
}

.arrowBack {
  margin-right: 10px;
}

.arrowNext {
  margin-left: 10px;
}
