.navBar {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
}

.anchorLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.anchorLinks li {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.externalLinks img {
  filter: invert(
    1
  ); /* Inverts colors (turns black to white) */
}

.anchorLinks li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: blue;
  transition: width 0.4s ease-in-out;
  z-index: 0;
}

.anchorLinks li:hover::before {
  width: 100%;
}

.anchorLinks li a {
  position: relative;
  z-index: 1;
  display: block;
  color: inherit;
  text-decoration: none;
}

.externalLinks a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: blue;
  transition: width 0.4s ease-in-out;
  z-index: -1;
}

.externalLinks a:hover::before {
  width: 100%;
}

.externalLinks a {
  position: relative;
  z-index: 1;
  display: block;
  color: inherit;
  text-decoration: none;
}

/* External links styling */
.externalLinks {
  display: flex;
}

/* General styles for links */
.anchorLinks a,
.externalLinks a {
  display: flex;
  font-size: 1em;
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit text color from parent */
  padding: 12px;
  font-weight: 500;
}

.anchorLinks a {
  border-right: 1px solid white;
}

.externalLinks a {
  border-left: 1px solid white;
}

@media only screen and (max-width: 480px) {
  .navBar.open {
    position: fixed;
    right: 0%;
    z-index: 3;
  }

  .navBar {
    position: absolute;
    top: 62px;

    right: -100%;
    flex-direction: column;
    border: inherit;
    width: 175px;
    background-color: black;
    height: calc(
      100vh - 59px
    ); /* Use calc to subtract 62px from 100vh */
    border-left: 1px solid white;
    transition-duration: 300ms;
    font-size: 1.1em;
  }
  .navBar a {
    border: inherit;
    border-bottom: 1px solid white;
    font-weight: 500;
  }

  .navBar .anchorLinks {
    flex-direction: column;
  }

  .navBar .externalLinks {
    flex-direction: column;
    border-top: 1px solid white;
  }

  .navBar .externalLinks a {
    border: inherit;
  }
}
