:root {
  --background: #111;
  --foreground: #ffffff;
}

/* Define your custom font with different weights and styles */

@font-face {
  font-family: "PPFormula";
  src: url("/fonts/PPFormulaLight.ttf") format("opentype");
  font-weight: 300; /* Bold weight */
  font-style: light;
}

@font-face {
  font-family: "PPNeuMontreal";
  src: url("/fonts/ppneuemontreal-bold.otf")
    format("opentype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "PPNeuMontreal";
  src: url("/fonts/ppneuemontreal-book.otf")
    format("opentype");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "PPNeuMontreal";
  src: url("/fonts/ppneuemontreal-italic.otf")
    format("opentype");
  font-weight: 400; /* Regular weight */
  font-style: italic; /* Italic style */
}

@font-face {
  font-family: "PPNeuMontreal";
  src: url("/fonts/ppneuemontreal-thin.otf")
    format("opentype");
  font-weight: 100; /* Thin weight */
  font-style: normal;
}

@font-face {
  font-family: "PPNeuMontreal";
  src: url("/fonts/ppneuemontreal-medium.otf")
    format("opentype");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: "PPNeuMontreal";
  src: url("/fonts/ppneuemontreal-semibolditalic.otf")
    format("opentype");
  font-weight: 600; /* Semibold weight */
  font-style: italic; /* Italic style */
}

/* Apply the font globally to the body */
body {
  font-family: "PPNeuMontreal", Arial, Helvetica, sans-serif;
  font-weight: 400; /* Default weight for the body */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "PPNeuMontreal", "PPFormula", Arial,
    Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 70px;
}

section {
  border-bottom: 1px solid grey;
  padding: 50px 8%;
  width: 100%;
}

.competences-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profil-container {
  font-size: 2em;
  margin-bottom: 100px;
  display: flex;
  gap: 131px;
  flex-direction: row-reverse;
}

.profil-container img {
  border-radius: 21px;
}

.offres-container {
  width: 100vw;
  display: flex;
  gap: 50px;
  max-width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 20px;
  margin-bottom: 60px;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.offres-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Webkit browsers */
}

.offre-warning {
  font-size: 0.938em;
  font-family: "PPFormula";
  font-weight: 300;
  padding: 35px;
  border-radius: 15px;
  border: 1px solid white;
}

.offre-warning img {
  margin-bottom: 15px;
}
.nav-buttons button:hover {
  background-color: grey;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
