:root {
  --background: #111;
  --foreground: #ffffff;
}

/* Define your custom font with different weights and styles */

@font-face {
  font-family: "PPFormula";
  src: url("/fonts/PPFormulaLight.ttf") format("opentype");
  font-weight: 300; /* Bold weight */
  font-style: light;
}

@font-face {
  font-family: "PPNeuMontreal";
  src: url("/fonts/ppneuemontreal-bold.otf")
    format("opentype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "PPNeuMontreal";
  src: url("/fonts/ppneuemontreal-book.otf")
    format("opentype");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "PPNeuMontreal";
  src: url("/fonts/ppneuemontreal-italic.otf")
    format("opentype");
  font-weight: 400; /* Regular weight */
  font-style: italic; /* Italic style */
}

@font-face {
  font-family: "PPNeuMontreal";
  src: url("/fonts/ppneuemontreal-thin.otf")
    format("opentype");
  font-weight: 100; /* Thin weight */
  font-style: normal;
}

@font-face {
  font-family: "PPNeuMontreal";
  src: url("/fonts/ppneuemontreal-medium.otf")
    format("opentype");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: "PPNeuMontreal";
  src: url("/fonts/ppneuemontreal-semibolditalic.otf")
    format("opentype");
  font-weight: 600; /* Semibold weight */
  font-style: italic; /* Italic style */
}

/* Apply the font globally to the body */
body {
  font-family: "PPNeuMontreal", Arial, Helvetica, sans-serif;
  font-weight: 400; /* Default weight for the body */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "PPNeuMontreal", "PPFormula", Arial,
    Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  all: unset; /* Resets all styles */
  appearance: button; /* Ensures the element behaves like a button */
  -webkit-appearance: button; /* For better cross-browser compatibility */
  cursor: pointer;
  padding: inherit;
  border: inherit;
  background-color: inherit;
  color: inherit;
  font: inherit;
  text-align: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 3em;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 70px;
}

section {
  border-bottom: 1px solid grey;
  padding: 80px 8%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container {
  max-width: 1300px;
}

.competences-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profil-container {
  font-size: 2em;
  margin-bottom: 100px;
  display: flex;
  gap: 131px;
  flex-direction: row-reverse;
}

.profil-container img {
  border-radius: 21px;
}

.offre-warning {
  font-size: 0.938em;
  font-family: "PPFormula";
  font-weight: 300;
  padding: 25px 35px;
  border-radius: 15px;
  border: 1px solid white;
  margin-bottom: 50px;
  opacity: 60%;
}

.offre-warning img {
  margin-bottom: 15px;
}
.nav-buttons button:hover {
  background-color: grey;
}

#contact-form {
  max-width: 950px;
}

#contact-form button {
  display: flex;
  align-self: flex-end;
}

.small-inputs-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  justify-content: space-between;
  width: 100%;
}

.small-inputs-container .input-container {
  width: 435px;
}

.subtitle {
  display: block;
  font-size: 2.5em;
  text-transform: uppercase;
  opacity: 80%;
  padding-bottom: 80px;
}

/* Styling for form inputs, dropdowns, and textarea */
.input-container input,
.input-container select,
.input-container textarea {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  color: #fff;
  background-color: #111;
  border: 1px solid #ffffff;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.input-container input:focus,
.input-container select:focus,
.input-container textarea:focus {
  outline: none;
  border-color: #4a90e2;
}

.input-container label {
  display: block;
  font-size: 14px;
  color: #fff;
  margin-bottom: 8px;
}

/* Styling for select dropdown */
.input-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/logos/arrow.png"); /* Add custom dropdown arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
  padding-right: 30px;
}

/* Styling for the textarea */
.input-container textarea {
  height: 150px;
  resize: none;
}

/* Styling for the privacy checkbox */
.checkbox-container label {
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
}

.checkbox-container input {
  margin-right: 10px;
}

#message {
  height: 160px;
  width: 100%;
}
#success-msg,
#error-msg {
  font-size: 1.2em;
  font-family: "PPFormula";
  margin-bottom: 50px;
  max-width: 100%;
  display: block;
  align-self: center;
}

.legal-title {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: "PPNeuMontreal";
  margin-bottom: 30px;
  font-weight: 400;
}

.legal-section {
  margin-bottom: 45px;
}

.legal-content {
  font-family: "PPFormula";
  font-size: 0.925em;
  opacity: 80%;
}

#project .project-title {
  font-weight: 400;
  font-family: "PPNeuMontreal";
  font-size: 1.5em;
  margin-bottom: 15px;
}

#project .project-info {
  justify-content: space-between;
  display: flex;
}

#project p {
  font-family: "PPFormula";
  font-size: 0.938em;
  opacity: 80%;
}

.project-live-link {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  font-weight: 400;
  position: relative;
  overflow: hidden; /* Hide the text moving outside the bounds */
}

.project-live-link a {
  display: inline-block;
  position: relative;
  font-size: 1em;
  text-decoration: none;
  transition: transform 0.2s ease-out; /* Smooth transition for text movement */
}

.project-live-link a:hover {
  transform: translateY(
    -100%
  ); /* Move the original text up on hover */
}

.project-live-link a::before {
  content: attr(
    data-new-text
  ); /* Use the text from data-new-text attribute */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align text to the right */
  transition: transform 0.2s ease-out;
}

.project-live-link a:hover::before {
  transform: translateY(
    0
  ); /* Bring the new text up on hover */
}

#project a {
  font-family: "PPFormula";
  font-size: 0.938em;
}

#project .project-technologies-container {
  display: flex;
  gap: 10px;
  margin-bottom: 65px;
}

#project .project-pictures {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-container {
  margin-bottom: 45px;
}
#project img {
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media only screen and (max-width: 1335px) {
  .profil-container {
    flex-direction: column;
  }

  .profil-container img {
    object-fit: cover;
    height: 379px;
  }
}

@media only screen and (max-width: 1335px) {
  .profil-container {
    flex-direction: column;
  }

  .profil-container img {
    object-fit: cover;
    height: 379px;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    font-size: 12px;
  }

  h2 {
    margin-bottom: 40px;
  }

  section {
    padding: 30px 5%;
  }

  .section-container {
    max-width: 420px;
  }

  .profil-container {
    width: 100%;
    gap: 30px;
    margin-bottom: 20px;
  }
  .profil-container img {
    object-fit: cover;
    width: auto;
  }
}
